unsplash_api_key: &unsplash_api_key ""

cta_train_api_key: &cta_train_api_key ""

openweather_api_key: &openweather_api_key ""

jobs:
  - class_info: 
      module: 'jobs.art_job'
      class: 'ArtJob'
      params: {
        'days_to_run': [0, 1, 2, 3, 4, 5, 6],
        'start_hour': 0,
        'start_minute': 0,
        'end_hour': 23,
        'end_minute': 59,
        'unplash_api_key': *unsplash_api_key,
        'orientation': 'landscape',
        'unsplash_collections': [
          '9387510',
          '9555007',
          '1336169',
          '5057079',
          '1198107',
          '252265',
          '993190'
        ] # leave as empty list if none
      }
  - class_info:
      module: 'jobs.clock_job'
      class: 'ClockJob'
      params: {
        'days_to_run': [0, 1, 2, 3, 4],
        'start_hour': 7,
        'start_minute': 00,
        'end_hour': 8,
        'end_minute': 30
      }
  - class_info:
      module: 'jobs.cta_train_arrival'
      class: 'CtaTrainArrival'
      params: {
        'days_to_run': [0, 1, 2, 3, 4],
        'start_hour': 7,
        'start_minute': 30,
        'end_hour': 8,
        'end_minute': 30,
        'cta_train_api_key': *cta_train_api_key,
        'stop_id': 30017 # Set this to the right station/direction
      }
  - class_info:
      module: 'jobs.weather_job'
      class: 'WeatherJob'
      params: {
        'days_to_run': [0, 1, 2, 3, 4],
        'start_hour': 7,
        'start_minute': 30,
        'end_hour': 8,
        'end_minute': 30,
        'zip': '', # must fill this in
        'openweather_api_key': *openweather_api_key
      }